asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
dj-database-url==2.1.0 ; python_version >= "3.12" and python_version < "4.0"
dj-email-url==1.0.6 ; python_version >= "3.12" and python_version < "4.0"
django-cache-url==3.4.5 ; python_version >= "3.12" and python_version < "4.0"
django==5.0.4 ; python_version >= "3.12" and python_version < "4.0"
environs[django]==11.0.0 ; python_version >= "3.12" and python_version < "4.0"
marshmallow==3.21.1 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.12" and python_version < "4.0"
pillow==10.3.0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.11.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
